body {
  font-family: 'Lato', sans-serif;
  color: #030E1B;
  margin: auto;
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-attachment: top;
  background-position: center;
}

img { border: 0; }

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #748599;
}

a:visited { color: gray; }

a:hover { color: #4A90E2; }

footer {
  font-size: 18px;
  color: #1C2530;
  line-height: 29px;
}

p {
  font-size: 22px;
  line-height: 36px;
}

h2 {
  font-size: 32px;
  line-height: 46px;
}

.integrations {
  width: 700px;
  height: 100px;
  border: 1px solid rgba(115,133,153,0.20);
  border-radius: 8px;
  background: #FFFFFF;
}

.integrations:hover {
  box-shadow: 0px 2px 2px 0px #E4ECF5;
}
