<footer>

  {{ site.time | date: '%Y' }} &copy; Clarity! All Rights Reserved.<br>

  <a href="#">Home</a>&nbsp;&middot;&nbsp;<a href="#">Features</a>&nbsp;&middot;&nbsp;<a href="#">Security</a>&nbsp;&middot;&nbsp;<a href="#">Privacy</a>&nbsp;&middot;&nbsp;<a href="#">Twitter</a>&nbsp;&middot;&nbsp;<a href="#">GitHub</a>&nbsp;&middot;&nbsp;<a href="mailto:support@clarityapp.co">Support</a>&nbsp;&middot;&nbsp;<a href="#">Terms of Service</a>&nbsp;&middot;&nbsp;<a href="#">Contact Us</a>

</footer>
