<footer class="center">

  <time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time> &copy; Clarity! All Rights Reserved.<br>

  <a href="/">Home</a>&nbsp;&middot;&nbsp;<a href="/about">About</a>&nbsp;&middot;&nbsp;<a href="/terms">Terms of Service</a>&nbsp;&middot;&nbsp;<a href="/privacy">Privacy Policy</a>&nbsp;&middot;&nbsp;<a href="http://twitter.com/{{ site.twitter }}">Twitter</a>&nbsp;&middot;&nbsp;<a href="http://github.com/{{ site.github }}">GitHub</a>&nbsp;&middot;&nbsp;<a href="mailto:{{ site.email}}">Contact Us</a>

</footer>
