<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="initial-scale=1">
  <meta charset="UTF-8">

  <title>{{ site.title }}{% if page.title %}&nbsp;-&nbsp;{{ page.title }}{% endif %}</title>

  <link href='https://fonts.googleapis.com/css?family=Lato:400,700italic' rel='stylesheet' type='text/css'>
  <link href="/css/main.css" rel='stylesheet' type='text/css'>

  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <script src="//load.sumome.com/" data-sumo-site-id="9bcdb130bcd09d63ec6cd95afd93deb261cc69692c17e596a239c5fce4bcd1c4" async="async"></script>
  <script src="//cdn.optimizely.com/js/4910612588.js"></script>
</head>
